<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdCSU2Gjqpk8JKver5EJeDD1WDnvCHBpc</string>
	<key>GCM_SENDER_ID</key>
	<string>289204876643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khlestkin.AuthPhoneNumber</string>
	<key>PROJECT_ID</key>
	<string>authphonenumber-b6c67</string>
	<key>STORAGE_BUCKET</key>
	<string>authphonenumber-b6c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289204876643:ios:86ab629a609679044c8f56</string>
</dict>
</plist>